h4{
    color: rgb(0, 0, 0);
    
}

body{
    background-color: #ffffff;
}

#p-2{
    color: #212529;
    background-color: #212529;
}

.newsdetails{
    color: black;
    background-color: #212529;
}

h6{
    color: white;
}

p1{
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.text-muted {

    color: black!important;
}
h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
img {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
  }

.btn{           
    position: absolute;
    bottom: 0;
    margin: 5px;
}

p {
    margin-bottom: 40px;
}

.searchBtn {
    position: relative;
    left: 100px;
}

h1 {
    color: white;
    font-size: 100%;
}
.btn-outline-warning{
    color: white;
    border-color: white;
}
.p-4{
    padding: 0rem !important;;
}
